/* line 6, sass/global.scss */
#main-footer {
  display: none;
}

/* line 11, sass/global.scss */
.et_pb_section {
  padding-top: 0px !important;
}

@media only screen and (max-width: 980px) {
  /* line 20, sass/global.scss */
  #s4 .et_pb_column_3_5 {
    padding: 200px 60px 0px 60px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 27, sass/global.scss */
  #s4 .et_pb_column_2_5 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 35, sass/global.scss */
#s5 {
  padding-bottom: 80px !important;
}

@media only screen and (max-width: 980px) {
  /* line 40, sass/global.scss */
  .et_pb_slider {
    max-width: 80% !important;
  }
  /* line 49, sass/global.scss */
  .et_pb_slider .et_pb_container {
    padding-top: 60px;
  }
}

/* line 58, sass/global.scss */
.content-section h1 {
  margin-top: 40px;
}
/* line 61, sass/global.scss */
.content-section h1, .content-section h2, .content-section h3, .content-section h4, .content-section h5, .content-section h6 {
  margin-bottom: 20px;
}
/* line 65, sass/global.scss */
.content-section .et_pb_button {
  margin-top: 20px;
  margin-bottom: 20px;
}
