/* saira-extra-condensed-regular - latin */
@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/saira-extra-condensed-v4-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Saira ExtraCondensed Regular"), local("SairaExtraCondensed-Regular"), url("../fonts/saira-extra-condensed-v4-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/saira-extra-condensed-v4-latin-regular.woff2") format("woff2"), url("../fonts/saira-extra-condensed-v4-latin-regular.woff") format("woff"), url("../fonts/saira-extra-condensed-v4-latin-regular.ttf") format("truetype"), url("../fonts/saira-extra-condensed-v4-latin-regular.svg#SairaExtraCondensed") format("svg");
  /* Legacy iOS */
}
/* line 21, sass/global.scss */
#main-footer {
  display: none;
}

/* line 132, sass/global.scss */
.et_pb_section h1 {
  margin-top: 40px;
  font-family: "Saira Extra Condensed", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  line-height: 54px !important;
  font-size: 48px !important;
}
@media only screen and (max-width: 980px) {
  /* line 132, sass/global.scss */
  .et_pb_section h1 {
    font-size: 38px !important;
    line-height: 42px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 132, sass/global.scss */
  .et_pb_section h1 {
    font-size: 28px !important;
    line-height: 36px !important;
  }
}
/* line 137, sass/global.scss */
.et_pb_section h1 span {
  font-family: "Saira Extra Condensed", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  line-height: 54px !important;
  font-size: 48px !important;
}
@media only screen and (max-width: 980px) {
  /* line 137, sass/global.scss */
  .et_pb_section h1 span {
    font-size: 38px !important;
    line-height: 42px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 137, sass/global.scss */
  .et_pb_section h1 span {
    font-size: 28px !important;
    line-height: 36px !important;
  }
}
/* line 145, sass/global.scss */
.et_pb_section h1.title {
  font-size: 80px !important;
  font-weight: normal !important;
  margin: 0 !important;
  text-indent: 80px;
  letter-spacing: 80px;
  padding-bottom: 20px;
  line-height: 90px !important;
}
@media only screen and (max-width: 980px) {
  /* line 145, sass/global.scss */
  .et_pb_section h1.title {
    font-size: 60px !important;
    text-indent: 40px;
    letter-spacing: 40px;
    line-height: 70px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 145, sass/global.scss */
  .et_pb_section h1.title {
    font-size: 40px !important;
    line-height: 50px !important;
    text-indent: 20px;
    letter-spacing: 20px;
  }
}
/* line 147, sass/global.scss */
.et_pb_section h1.title span {
  font-size: 80px !important;
  font-weight: normal !important;
  margin: 0 !important;
  text-indent: 80px;
  letter-spacing: 80px;
  padding-bottom: 20px;
  line-height: 90px !important;
}
@media only screen and (max-width: 980px) {
  /* line 147, sass/global.scss */
  .et_pb_section h1.title span {
    font-size: 60px !important;
    text-indent: 40px;
    letter-spacing: 40px;
    line-height: 70px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 147, sass/global.scss */
  .et_pb_section h1.title span {
    font-size: 40px !important;
    line-height: 50px !important;
    text-indent: 20px;
    letter-spacing: 20px;
  }
}
/* line 152, sass/global.scss */
.et_pb_section h2 {
  font-family: "Rajdhani", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  line-height: 44px !important;
  font-size: 38px !important;
}
@media only screen and (max-width: 980px) {
  /* line 152, sass/global.scss */
  .et_pb_section h2 {
    font-size: 34px !important;
    line-height: 38px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 152, sass/global.scss */
  .et_pb_section h2 {
    font-size: 24px !important;
    line-height: 28px !important;
  }
}
/* line 156, sass/global.scss */
.et_pb_section h2 span {
  font-family: "Rajdhani", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  line-height: 44px !important;
  font-size: 38px !important;
}
@media only screen and (max-width: 980px) {
  /* line 156, sass/global.scss */
  .et_pb_section h2 span {
    font-size: 34px !important;
    line-height: 38px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 156, sass/global.scss */
  .et_pb_section h2 span {
    font-size: 24px !important;
    line-height: 28px !important;
  }
}
/* line 161, sass/global.scss */
.et_pb_section h3 {
  font-family: "Rajdhani", "Helvetica", sans-serif !important;
  font-weight: normal !important;
  line-height: 32px !important;
  font-size: 25px !important;
}
/* line 163, sass/global.scss */
.et_pb_section h3 span {
  font-family: "Rajdhani", "Helvetica", sans-serif !important;
  font-weight: normal !important;
  line-height: 32px !important;
  font-size: 25px !important;
}
/* line 169, sass/global.scss */
.et_pb_section h4 {
  font-family: "Titillium", "Helvetica", sans-serif !important;
  font-weight: normal !important;
  line-height: 32px !important;
  font-size: 20px !important;
}
/* line 171, sass/global.scss */
.et_pb_section h4 span {
  font-family: "Titillium", "Helvetica", sans-serif !important;
  font-weight: normal !important;
  line-height: 32px !important;
  font-size: 20px !important;
}
/* line 177, sass/global.scss */
.et_pb_section h5 {
  font-family: "Titillium", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
/* line 179, sass/global.scss */
.et_pb_section h5 span {
  font-family: "Titillium", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
/* line 185, sass/global.scss */
.et_pb_section h6 {
  font-family: "Rajdhani", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
/* line 187, sass/global.scss */
.et_pb_section h6 span {
  font-family: "Rajdhani", "Helvetica", sans-serif !important;
  font-weight: bold !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
/* line 193, sass/global.scss */
.et_pb_section p {
  font-family: "Titillium", "Helvetica", sans-serif !important;
  font-weight: normal !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
/* line 195, sass/global.scss */
.et_pb_section p span {
  font-family: "Titillium", "Helvetica", sans-serif !important;
  font-weight: normal !important;
  line-height: 24px !important;
  font-size: 16px !important;
}
/* line 201, sass/global.scss */
.et_pb_section h1, .et_pb_section h2, .et_pb_section h3, .et_pb_section h4 {
  margin-bottom: 20px;
}
/* line 205, sass/global.scss */
.et_pb_section .et_pb_button {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 219, sass/global.scss */
body.home .et_pb_section.et_pb_section_first h1:first-child {
  font-size: 80px !important;
  font-weight: normal !important;
  margin: 0 !important;
  text-indent: 80px;
  letter-spacing: 80px;
  padding-bottom: 20px;
  line-height: 90px !important;
}
@media only screen and (max-width: 980px) {
  /* line 219, sass/global.scss */
  body.home .et_pb_section.et_pb_section_first h1:first-child {
    font-size: 60px !important;
    text-indent: 40px;
    letter-spacing: 40px;
    line-height: 70px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 219, sass/global.scss */
  body.home .et_pb_section.et_pb_section_first h1:first-child {
    font-size: 40px !important;
    line-height: 50px !important;
    text-indent: 20px;
    letter-spacing: 20px;
  }
}
/* line 222, sass/global.scss */
body.home .et_pb_section.et_pb_section_first h1:first-child span {
  font-size: 80px !important;
  font-weight: normal !important;
  margin: 0 !important;
  text-indent: 80px;
  letter-spacing: 80px;
  padding-bottom: 20px;
  line-height: 90px !important;
}
@media only screen and (max-width: 980px) {
  /* line 222, sass/global.scss */
  body.home .et_pb_section.et_pb_section_first h1:first-child span {
    font-size: 60px !important;
    text-indent: 40px;
    letter-spacing: 40px;
    line-height: 70px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 222, sass/global.scss */
  body.home .et_pb_section.et_pb_section_first h1:first-child span {
    font-size: 40px !important;
    line-height: 50px !important;
    text-indent: 20px;
    letter-spacing: 20px;
  }
}

/* line 230, sass/global.scss */
.hover-image-desc {
  display: block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-height: 683px;
}
/* line 235, sass/global.scss */
.hover-image-desc:hover {
  display: block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 239, sass/global.scss */
.hover-image-desc:hover .et_pb_text_inner {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 246, sass/global.scss */
.hover-image-desc .et_pb_text_inner {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: translateY(-14px);
  -ms-transform: translateY(-14px);
  -webkit-transform: translateY(-14px);
  transform: translateY(-14px);
}
