
wp-config.php



# Thanks to: https://gist.github.com/jdbartlett/444295

# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/plugins/*
wp-content/cache/*
wp-content/mu-plugins/*
wp-content/uploads/*
wp-content/themes/archive/*
wp-content/themes/Divi/*
wp-content/themes/hypr/.sass-cache/*
wp-content/themes/index.php
wp-content/advanced-cache.php
wp-content/index.php
wp-content/mysql.sql


