@import "compass/css3/transform";
@import "compass/css3"; 
@import "colors";

//Default Styles
$saira: "Saira Extra Condensed", "Helvetica", sans-serif!important;

@mixin h1-title($setColor){
	font-size: 80px!important;
	font-weight: normal!important;
	margin: 0!important;
	text-indent: 20px;
	letter-spacing: 20px;
	padding-bottom: 0px;
	line-height: 90px!important;

	@media only screen and (min-width: 1920px){
		font-size: 100px!important;
		line-height: 110px!important;
		
	}

	@media only screen and (max-width: 980px){
		font-size: 60px!important;
		text-indent: 20px;
		letter-spacing: 20px;
		line-height: 70px!important;
	}

	@media only screen and (max-width: 400px){
		font-size: 50px!important;
		line-height: 50px!important;
		text-indent: 10px;
		letter-spacing: 10px;
	}
}


@mixin h1-sairabold($setColor) {
  font-family: "Saira Extra Condensed", "Helvetica", sans-serif!important;
  font-weight: bold!important;
  text-transform: uppercase!important;
  line-height: 54px!important;
  font-size: 48px!important;
  color: $setColor!important;


  @media only screen and (min-width: 1920px){
  	font-size: 60px!important;
  	line-height: 70px!important;
  	
  }

  @media only screen and (max-width: 980px){
  	font-size: 38px!important;
  	line-height: 42px!important;
  	
  }

  @media only screen and (max-width: 400px){
  	font-size: 20px!important;
  	line-height: 26px!important;
  	
  }
}

@mixin h2-rajbold($setColor) {
  font-family: "Rajdhani", "Helvetica", sans-serif!important;
  font-weight: bold!important;
  line-height: 44px!important;
  font-size: 38px!important;
  color: $setColor!important;

  @media only screen and (max-width: 980px){
  	font-size: 34px!important;
  	line-height: 38px!important;
  	
  }

  @media only screen and (max-width: 400px){
  	font-size: 24px!important;
  	line-height: 28px!important;
  	
  }
}

@mixin h3-rajreg($setColor) {
  font-family: "Rajdhani", "Helvetica", sans-serif!important;
  font-weight: normal!important;
  line-height: 32px!important;
  font-size: 25px!important;
  color: $setColor!important;
}

@mixin h4-titilliumreg($setColor) {
  font-family: "Titillium Web", "Helvetica", sans-serif!important;
  font-weight: normal!important;
  line-height: 32px!important;
  font-size: 20px!important;
  color: $setColor!important;
}

@mixin h5-titilliumsemi($setColor) {
  font-family: "Titillium Web", "Helvetica", sans-serif!important;
  font-weight: bold!important;
  line-height: 24px!important;
  font-size: 14px!important;
  color: $setColor!important;
}

@mixin h6-rajsemi($setColor) {
  font-family: "Rajdhani", "Helvetica", sans-serif!important;
  font-weight: bold!important;
  line-height: 24px!important;
  font-size: 16px!important;
  color: $setColor!important;
}

@mixin p-titilliumreg($setColor) {
  font-family: "Titillium Web", "Helvetica", sans-serif!important;
  font-weight: normal!important;
  line-height: 24px!important;
  font-size: 16px!important;
  color: $setColor!important;
  
}