@media only screen and (max-width: 640px) {
  /* line 8, ../sass/contact.scss */
  .page-id-142 #page-container .hbspt-form {
    margin: 60px 0 !important;
  }
}
/* line 14, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form .legal-consent-container p {
  color: white !important;
  margin: 20px 0;
}
/* line 22, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form form .hs-fieldtype-text {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin: 0 -4px 40px 0;
}
/* line 29, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form form .hs-fieldtype-text span {
  display: none;
}
/* line 32, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form form .hs-fieldtype-text .input {
  padding-right: 20px;
}
/* line 34, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form form .hs-fieldtype-text .input input {
  width: 100%;
}
/* line 40, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form form .hs-fieldtype-textarea {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0px 0 0 0;
}
/* line 46, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form form .hs-fieldtype-textarea span {
  display: none;
}
/* line 50, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form form .hs-fieldtype-textarea textarea {
  width: 100%;
  min-height: 240px;
  background-color: #011638;
  border: none;
}
/* line 59, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form .hs-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  display: block;
}
/* line 71, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form .hs-error-msgs {
  background-color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f01b70;
  padding: 5px;
  margin: 10px 10px 10px 0;
  list-style-type: none;
}
/* line 80, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form .hs-error-msgs label {
  color: #f01b70;
  font-family: "Titillium Web", "Helvetica", sans-serif !important;
  line-height: 24px !important;
  font-weight: bold !important;
  font-size: 14px !important;
  color: #f01b70 !important;
  font-size: 12px !important;
}
/* line 87, ../sass/contact.scss */
.page-id-142 #page-container .hbspt-form .hs-button {
  margin-top: 10px;
  font-family: "Titillium Web", "Helvetica", sans-serif !important;
  line-height: 24px !important;
  font-weight: bold !important;
  font-size: 14px !important;
  color: white !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #1DCAD4 !important;
  padding: 5px 20px;
  border: 1px solid #92EBF0 !important;
  -moz-box-shadow: 0 0 5px #1DCAD4;
  -webkit-box-shadow: 0 0 5px #1DCAD4;
  box-shadow: 0 0 5px #1DCAD4;
  text-transform: title-caps;
}
