/* line 9, ../sass/nav.scss */
#main-header {
  height: 90px;
}
@media only screen and (max-width: 980px) {
  /* line 9, ../sass/nav.scss */
  #main-header {
    background-color: transparent !important;
  }
}

/* line 22, ../sass/nav.scss */
body.et_fixed_nav.et_secondary_nav_enabled #main-header, body.et_non_fixed_nav.et_transparent_nav.et_secondary_nav_enabled #main-header {
  top: 0px !important;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 29, ../sass/nav.scss */
.et_fixed_nav .et-fixed-header {
  background-color: #031458 !important;
}

/* line 37, ../sass/nav.scss */
body.admin-bar.et_pb_pagebuilder_layout.et-fb-root-ancestor #main-header, body.admin-bar.et_pb_pagebuilder_layout.et-fb-root-ancestor #quadmenu, body.admin-bar.et_pb_pagebuilder_layout.et-fb-root-ancestor #et-secondary-menu, body.admin-bar.et_pb_pagebuilder_layout.et-fb-root-ancestor .quadmenu-item, body.admin-bar.et_pb_pagebuilder_layout.et-fb-root-ancestor .quadmenu-container, body.admin-bar.et_pb_pagebuilder_layout.et-fb-root-ancestor .quadmenu-dropdown-toggle, body.admin-bar.et_pb_pagebuilder_layout.et-fb-root-ancestor .quadmenu-navbar-nav {
  pointer-events: none !important;
}

/* line 43, ../sass/nav.scss */
#main-header:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 28px;
  height: 2px;
  left: none;
  width: 83%;
  opacity: 1;
  background: linear-gradient(-45deg, #3488da, #f13e9d);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 980px) {
  /* line 43, ../sass/nav.scss */
  #main-header:after {
    width: 100%;
    top: 37px;
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -webkit-transform: translateX(90px);
    transform: translateX(90px);
    z-index: 100;
    display: none;
  }
}

/* line 66, ../sass/nav.scss */
#main-header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 28px;
  width: 10%;
  height: 2px;
  background-color: #F13E9D;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 980px) {
  /* line 66, ../sass/nav.scss */
  #main-header:before {
    width: 20px;
    top: 37px;
    z-index: 100;
    display: none;
  }
}

/* line 91, ../sass/nav.scss */
#main-header:hover:after {
  background: linear-gradient(-45deg, #3488da, #3488da 49%, #ffffff 50%, #f13e9d 51%, #f13e9d);
  background-size: 400% 400%;
  -moz-animation: Gradient 5s ease infinite;
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  -moz-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 99, ../sass/nav.scss */
#main-header:hover:before {
  -moz-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

@media only screen and (max-width: 980px) {
  /* line 110, ../sass/nav.scss */
  #et-top-navigation {
    z-index: 110;
    width: 100%;
  }
  /* line 116, ../sass/nav.scss */
  #et-top-navigation:after {
    content: "";
    display: block;
    position: fixed;
    right: 0;
    top: 38px;
    height: 2px;
    z-index: 30;
    width: 100%;
    background: linear-gradient(45deg, #f13e9d, #3488da);
    opacity: 1;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(0) translateX(0px);
    -ms-transform: scaleX(0) translateX(0px);
    -webkit-transform: scaleX(0) translateX(0px);
    transform: scaleX(0) translateX(0px);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 136, ../sass/nav.scss */
  #et-top-navigation:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 38px;
    height: 2px;
    z-index: 30;
    width: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #F13E9D;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

/* line 156, ../sass/nav.scss */
.logo_container a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 166, ../sass/nav.scss */
.et_fullwidth_nav #main-header .container {
  padding-right: 12%;
  padding-left: 12%;
  max-width: 100%;
  width: 100%;
}
/* line 172, ../sass/nav.scss */
.et_fullwidth_nav #main-header .container:before {
  content: "";
  display: none;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 20;
}

/* line 188, ../sass/nav.scss */
.et_fullwidth_nav #main-header.open .container:before {
  content: "";
  display: block;
}

/* line 196, ../sass/nav.scss */
.et_header_style_left .logo_container {
  position: absolute;
  top: 16px;
  left: 12%;
  width: 60px;
  overflow: hidden;
  height: 60px;
}
@media only screen and (max-width: 1220px) {
  /* line 196, ../sass/nav.scss */
  .et_header_style_left .logo_container {
    left: 11.5%;
  }
}
@media only screen and (max-width: 1520px) {
  /* line 196, ../sass/nav.scss */
  .et_header_style_left .logo_container {
    width: 50px;
    height: 50px;
    left: 11.7%;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 196, ../sass/nav.scss */
  .et_header_style_left .logo_container {
    left: 12%;
    margin-left: 8px;
    background-position: center 7px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 196, ../sass/nav.scss */
  .et_header_style_left .logo_container {
    width: 50px;
    height: 50px;
    top: 27px;
    left: 30px;
    z-index: 20;
    position: fixed;
  }
}

/* line 234, ../sass/nav.scss */
.logo_container a {
  background-image: url(/wp-content/themes/hypr/assets/img/global/logo.svg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 255, ../sass/nav.scss */
#quadmenu {
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 0;
}

/* line 260, ../sass/nav.scss */
#et-secondary-menu {
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}

/* line 267, ../sass/nav.scss */
body .logo_container a {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 980px) {
  /* line 267, ../sass/nav.scss */
  body .logo_container a {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}
/* line 277, ../sass/nav.scss */
body #quadmenu {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  opacity: 1;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 284, ../sass/nav.scss */
body #et-secondary-menu {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  opacity: 1;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 980px) {
  /* line 295, ../sass/nav.scss */
  body #et-top-navigation:after {
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(1) translateX(90px);
    -ms-transform: scaleX(1) translateX(90px);
    -webkit-transform: scaleX(1) translateX(90px);
    transform: scaleX(1) translateX(90px);
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  /* line 302, ../sass/nav.scss */
  body #et-top-navigation:before {
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}

/* line 314, ../sass/nav.scss */
body.home #main-header:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 28px;
  height: 2px;
  left: none;
  width: 83%;
  opacity: 1;
  background: linear-gradient(-45deg, #3488da, #f13e9d);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 980px) {
  /* line 314, ../sass/nav.scss */
  body.home #main-header:after {
    width: 100%;
    top: 37px;
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -webkit-transform: translateX(90px);
    transform: translateX(90px);
    z-index: 100;
    display: none;
  }
}
/* line 337, ../sass/nav.scss */
body.home #main-header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 28px;
  width: 10%;
  height: 2px;
  background-color: #F13E9D;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 980px) {
  /* line 337, ../sass/nav.scss */
  body.home #main-header:before {
    width: 20px;
    top: 37px;
    z-index: 100;
    display: none;
  }
}
/* line 362, ../sass/nav.scss */
body.home #main-header:hover:after {
  background: linear-gradient(-45deg, #3488da, #3488da 49%, #ffffff 50%, #f13e9d 51%, #f13e9d);
  background-size: 400% 400%;
  -moz-animation: Gradient 5s ease infinite;
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  -moz-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 370, ../sass/nav.scss */
body.home #main-header:hover:before {
  -moz-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 980px) {
  /* line 379, ../sass/nav.scss */
  body.home #et-top-navigation {
    z-index: 110;
    width: 100%;
  }
  /* line 384, ../sass/nav.scss */
  body.home #et-top-navigation:after {
    content: "";
    display: block;
    position: fixed;
    right: 0;
    top: 38px;
    height: 2px;
    z-index: 30;
    width: 100%;
    background: linear-gradient(45deg, #f13e9d, #3488da);
    opacity: 1;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(0) translateX(0px);
    -ms-transform: scaleX(0) translateX(0px);
    -webkit-transform: scaleX(0) translateX(0px);
    transform: scaleX(0) translateX(0px);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 404, ../sass/nav.scss */
  body.home #et-top-navigation:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 38px;
    height: 2px;
    z-index: 30;
    width: 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #F13E9D;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}
/* line 424, ../sass/nav.scss */
body.home .logo_container a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 429, ../sass/nav.scss */
body.home .et_fullwidth_nav #main-header .container {
  padding-right: 12%;
  padding-left: 12%;
  max-width: 100%;
  width: 100%;
}
/* line 437, ../sass/nav.scss */
body.home .et_header_style_left .logo_container {
  position: absolute;
  top: 16px;
  left: 12%;
  width: 60px;
  overflow: hidden;
  height: 60px;
}
@media only screen and (max-width: 1220px) {
  /* line 437, ../sass/nav.scss */
  body.home .et_header_style_left .logo_container {
    left: 11.5%;
  }
}
@media only screen and (max-width: 1520px) {
  /* line 437, ../sass/nav.scss */
  body.home .et_header_style_left .logo_container {
    width: 50px;
    height: 50px;
    left: 11.7%;
  }
}
@media only screen and (min-width: 1920px) {
  /* line 437, ../sass/nav.scss */
  body.home .et_header_style_left .logo_container {
    left: 12%;
    margin-left: 8px;
    background-position: center 7px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 437, ../sass/nav.scss */
  body.home .et_header_style_left .logo_container {
    width: 50px;
    height: 50px;
    top: 27px;
    left: 30px;
    z-index: 20;
    position: fixed;
  }
}
/* line 475, ../sass/nav.scss */
body.home .logo_container a {
  background-image: url(/wp-content/themes/hypr/assets/img/global/logo.svg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 496, ../sass/nav.scss */
body.home #quadmenu {
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 0;
}
/* line 501, ../sass/nav.scss */
body.home #et-secondary-menu {
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}

/* line 515, ../sass/nav.scss */
body.home.pageload .logo_container a {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
@media only screen and (max-width: 980px) {
  /* line 515, ../sass/nav.scss */
  body.home.pageload .logo_container a {
    -moz-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
  }
}
/* line 530, ../sass/nav.scss */
body.home.pageload #quadmenu {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  -moz-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}
/* line 537, ../sass/nav.scss */
body.home.pageload #et-secondary-menu {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  -moz-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}
@media only screen and (max-width: 980px) {
  /* line 548, ../sass/nav.scss */
  body.home.pageload #et-top-navigation:after {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(1) translateX(90px);
    -ms-transform: scaleX(1) translateX(90px);
    -webkit-transform: scaleX(1) translateX(90px);
    transform: scaleX(1) translateX(90px);
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }
  /* line 555, ../sass/nav.scss */
  body.home.pageload #et-top-navigation:before {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }
}

/* line 572, ../sass/nav.scss */
#logo {
  float: none;
  display: none;
}

/* line 577, ../sass/nav.scss */
.logo_helper {
  display: none !important;
}

/* line 581, ../sass/nav.scss */
#top-header {
  background-color: transparent;
}
@media only screen and (max-width: 980px) {
  /* line 581, ../sass/nav.scss */
  #top-header {
    position: fixed !important;
    display: none !important;
    top: auto !important;
    /* bottom: 0; */
    height: 156px;
    bottom: 0;
    background-color: black !important;
    width: 100%;
  }
  /* line 594, ../sass/nav.scss */
  #top-header .container {
    width: 100%;
  }
}
/* line 599, ../sass/nav.scss */
#top-header.open {
  display: block !important;
}

/* line 604, ../sass/nav.scss */
#et-secondary-menu {
  margin: 0 auto;
  float: none;
  width: 100%;
  position: absolute;
  top: 8px;
  overflow: hidden;
  left: 0px;
}

/* line 614, ../sass/nav.scss */
#et-secondary-nav {
  max-width: 100%;
  margin: 0 11.7%;
  display: block;
  text-align: right;
}
/* line 620, ../sass/nav.scss */
#et-secondary-nav li {
  margin-right: 0px;
  margin-left: 40px;
}
/* line 624, ../sass/nav.scss */
#et-secondary-nav li:first-child {
  display: none;
}
@media only screen and (max-width: 980px) {
  /* line 624, ../sass/nav.scss */
  #et-secondary-nav li:first-child {
    display: inline-block;
  }
}
@media only screen and (max-width: 980px) {
  /* line 620, ../sass/nav.scss */
  #et-secondary-nav li {
    margin: 0px 0 0 -4px;
    width: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
  }
  /* line 641, ../sass/nav.scss */
  #et-secondary-nav li a {
    border: 1px solid #1DCAD4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px 20px;
    text-transform: capitalize !important;
  }
  /* line 654, ../sass/nav.scss */
  #et-secondary-nav li:first-child a {
    border: 1px solid #f01b70;
    background-color: #f01b70;
  }
  /* line 660, ../sass/nav.scss */
  #et-secondary-nav li:nth-child(2n+2) {
    padding-right: 5px;
  }
  /* line 664, ../sass/nav.scss */
  #et-secondary-nav li:nth-child(2n+3) {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 614, ../sass/nav.scss */
  #et-secondary-nav {
    display: block !important;
    margin: 0 20px !important;
    padding: 0 !important;
  }
  /* line 677, ../sass/nav.scss */
  #et-secondary-nav #menu-item-19649 {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  /* line 685, ../sass/nav.scss */
  #et-secondary-menu {
    display: block !important;
  }
}

/* line 697, ../sass/nav.scss */
#et_mobile_nav_menu .et_mobile_menu {
  background: url("/wp-content/uploads/2019/03/Globe_7.jpg") no-repeat black !important;
  background-size: cover;
  top: 0px;
  border: none;
  display: block;
  opacity: 0;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  z-index: 10;
  padding-top: 76px;
  overflow-y: scroll;
  position: fixed;
  height: 100vh;
}
/* line 715, ../sass/nav.scss */
#et_mobile_nav_menu .mobile_nav .mobile_menu_bar {
  text-align: center;
  background-color: black;
  overflow: hidden;
  display: block;
  color: white;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 0;
  z-index: 110;
}
/* line 730, ../sass/nav.scss */
#et_mobile_nav_menu .mobile_nav .mobile_menu_bar:before {
  color: white;
  font-size: 30px;
  top: 3px;
}
/* line 740, ../sass/nav.scss */
#et_mobile_nav_menu .mobile_nav .et_mobile_menu #quadmenu {
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
/* line 749, ../sass/nav.scss */
#et_mobile_nav_menu .mobile_nav.opened .mobile_menu_bar:before {
  content: "\4d";
}
/* line 753, ../sass/nav.scss */
#et_mobile_nav_menu .mobile_nav.opened .et_mobile_menu {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-bottom: 200px;
}
/* line 758, ../sass/nav.scss */
#et_mobile_nav_menu .mobile_nav.opened .et_mobile_menu #quadmenu {
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 777, ../sass/nav.scss */
#et-info, #et-secondary-menu > ul > li a {
  font-family: "Titillium Web";
  text-transform: uppercase;
}

/* line 782, ../sass/nav.scss */
#quadmenu .quadmenu-navbar-nav {
  margin-top: 0px !important;
}

/* line 786, ../sass/nav.scss */
.quadmenu-navbar-nav li.quadmenu-item-level-0:last-child .quadmenu-item-content {
  font-family: "Titillium Web", "Helvetica", sans-serif !important;
  line-height: 1.5em !important;
  font-weight: bold !important;
  font-size: 1em !important;
  color: white !important;
  background-color: #f01b70 !important;
  border: 1px solid #f01b70 !important;
  -moz-box-shadow: 0 0 5px #f01b70;
  -webkit-box-shadow: 0 0 5px #f01b70;
  box-shadow: 0 0 5px #f01b70;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px !important;
  margin-top: -7px;
  padding: 4px 10px 6px 10px !important;
  line-height: 27px !important;
}
@media only screen and (max-width: 980px) {
  /* line 786, ../sass/nav.scss */
  .quadmenu-navbar-nav li.quadmenu-item-level-0:last-child .quadmenu-item-content {
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 980px) {
  /* line 810, ../sass/nav.scss */
  .quadmenu-navbar-nav li.quadmenu-item-level-0:last-child {
    position: fixed !important;
    bottom: 0px !important;
    width: 100% !important;
    display: none !important;
    top: auto !important;
    height: 200px !important;
  }
}

@media only screen and (max-width: 980px) {
  /* line 823, ../sass/nav.scss */
  .quadmenu-navbar-nav li.quadmenu-item {
    padding: 10px 0 0 0 !important;
  }
}

/* line 829, ../sass/nav.scss */
#top-menu-nav #quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav > li > a {
  padding-bottom: 10px;
}

@media only screen and (max-width: 980px) {
  /* line 833, ../sass/nav.scss */
  .quadmenu-item-content {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 980px) {
  /* line 839, ../sass/nav.scss */
  #quadmenu .quadmenu-navbar-nav li.quadmenu-item-type-button > a {
    text-align: left !important;
  }
}

@media only screen and (max-width: 980px) {
  /* line 845, ../sass/nav.scss */
  #quadmenu .quadmenu-navbar-nav li.quadmenu-item-type-button {
    padding: 0 !important;
  }
}

/* line 854, ../sass/nav.scss */
#top-header .container {
  padding-top: 0px;
}

/* line 858, ../sass/nav.scss */
.et-fixed-header {
  top: 0px !important;
  background-color: #082452 !important;
}

/* line 865, ../sass/nav.scss */
body.admin-bar .et-fixed-header {
  top: 32px !important;
}

/* line 870, ../sass/nav.scss */
.et_header_style_left .et-fixed-header #et-top-navigation, .et_header_style_split .et-fixed-header #et-top-navigation {
  padding-top: 38px !important;
}

/* line 874, ../sass/nav.scss */
.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation {
  padding-top: 38px !important;
}

/* line 878, ../sass/nav.scss */
.et-fixed-header#top-header a {
  color: white !important;
}

/* line 882, ../sass/nav.scss */
#top-menu-nav {
  padding-top: 10px !important;
}

/* line 890, ../sass/nav.scss */
body.et_non_fixed_nav.et_transparent_nav.et_secondary_nav_enabled #main-header {
  top: 0px !important;
}
@media only screen and (max-width: 980px) {
  /* line 890, ../sass/nav.scss */
  body.et_non_fixed_nav.et_transparent_nav.et_secondary_nav_enabled #main-header {
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: transparent !important;
  }
}

@media only screen and (max-width: 980px) {
  /* line 903, ../sass/nav.scss */
  #main-header.et-fixed-header {
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: black !important;
  }
}

/* line 912, ../sass/nav.scss */
body.admin-bar.et_fixed_nav.et_secondary_nav_enabled #main-header {
  top: 32px !important;
}
@media only screen and (max-width: 960px) {
  /* line 912, ../sass/nav.scss */
  body.admin-bar.et_fixed_nav.et_secondary_nav_enabled #main-header {
    top: 0px !important;
  }
}

/* line 922, ../sass/nav.scss */
#quadmenu .quadmenu-navbar-nav li.quadmenu-item > .quadmenu-dropdown-menu {
  background-color: transparent;
}

/* line 926, ../sass/nav.scss */
#quadmenu * {
  color: white;
}

/* line 934, ../sass/nav.scss */
#quadmenu.quadmenu-divi_primary_menu .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.quadmenu-has-link:after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  content: "";
  display: block;
}

@media only screen and (max-width: 980px) {
  /* line 951, ../sass/nav.scss */
  .quadmenu-item-level-1 .quadmenu-text {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  /* line 956, ../sass/nav.scss */
  .quadmenu-item-level-1 {
    margin-left: 10px !important;
  }
}
/* line 961, ../sass/nav.scss */
#quadmenu.quadmenu-divi_primary_menu .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.quadmenu-has-link:hover {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 964, ../sass/nav.scss */
#quadmenu.quadmenu-divi_primary_menu .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item.quadmenu-has-link:hover:after {
  background-color: #f01b70;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 971, ../sass/nav.scss */
#quadmenu.quadmenu-divi_primary_menu .quadmenu-navbar-nav .quadmenu-dropdown-menu .quadmenu-title {
  color: white !important;
}

/* line 975, ../sass/nav.scss */
#quadmenu.quadmenu-divi_primary_menu:not(.quadmenu-is-horizontal) .quadmenu-navbar-nav li.quadmenu-item.open > a > .quadmenu-item-content > .quadmenu-caret {
  color: white !important;
  background-color: black !important;
}

/* line 980, ../sass/nav.scss */
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav li.quadmenu-item > .quadmenu-dropdown-menu > ul {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 984, ../sass/nav.scss */
#quadmenu.quadmenu-is-horizontal .quadmenu-navbar-nav li.quadmenu-item > a.hoverintent > .quadmenu-item-content > .quadmenu-caret {
  color: #1FF1FC;
}

/* line 988, ../sass/nav.scss */
#quadmenu.quadmenu-divi_primary_menu .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content {
  padding: 10px 10px;
}
@media only screen and (max-width: 980px) {
  /* line 988, ../sass/nav.scss */
  #quadmenu.quadmenu-divi_primary_menu .quadmenu-navbar-nav .quadmenu-dropdown-menu li.quadmenu-item > a > .quadmenu-item-content {
    padding: 10px 40px;
  }
}

/* line 996, ../sass/nav.scss */
#quadmenu .quadmenu-navbar-nav li.quadmenu-item > a > .quadmenu-item-content > .quadmenu-caret:before {
  color: #1FF1FC;
}
